<ul class="menu">
  <li>
    <a href="/fiction.html"
      ><span id="fiction-link" class="link-text">(Fiction)</span>
      <span class="text-translated">Fiction</span></a
    >
  </li>
  <li>
    <a href="/"
      ><span id="world-link" class="link-text">(World)</span>
      <span class="text-translated">World</span></a
    >
  </li>
  <li>
    <a href="/about.html"
      ><span id="about-link" class="link-text">(About)</span>
      <span class="text-translated">About</span>
    </a>
  </li>
</ul>
