:root {
    --text-color: #a2a2ab;
    --accent-color: #f9d695;
    --base-color: #30333a;

    --dark-color: rgb(35, 35, 35);
    --dim-color: #0000004f;
    --pale-color: #f8edd9;
}

/* Core Styles */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: var(--base-color);
    color: var(--text-color);
}

img {
    max-width: 90%;
}

hr {
    border-color: var(--accent-color);
}

/* Link Styles */
a {
    color: var(--dark-color); /* Default link color */
    text-decoration: none; /* Remove underline by default */
    transition: background-color 0.3s ease; /* Smooth color transition on hover */
    padding:5px;
    background-color: var(--accent-color);
    border-radius: 1px;
    
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

a:hover {
    background-color: var(--pale-color);
}

.subtexted-link {
    background-color: transparent;
    border:none;
    text-decoration: none;
    box-shadow: none;
}

.subtexted-link:hover {
    background-color: transparent;
}

.subtexted-link .link-text {
    padding:5px;
    margin-bottom:0px;
    display: block;
    transition: background-color 0.3s ease;
    border-radius: 1px;
    background-color: var(--accent-color);
}

.subtexted-link .link-text:hover {
    background-color: var(--pale-color);
}

.subtexted-link .text-translated {
    margin-top:5px;
    color: var(--text-color); 
    font-size: 0.8em;
    background-color: transparent;
    
}

.image-link {
    background-color: transparent;
    box-shadow: none;
}
.image-link:hover {
    background-color: transparent;
    box-shadow: none;
}

/* Menu Style */
header {
    background-color: transparent;
    padding-bottom: 10px;
}

.menu {
    display: flex;
    justify-content: stretch;
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.menu li {
    
    margin:0;
    padding:0;
}

.menu li:last-child {
    margin-right: 0; 
}

.menu a {
    background-color: transparent;
    padding: 0px;
    margin:0px;
    border:none;
    text-decoration: none;
    color: var(--text-color); 
    box-shadow: none;
}

.menu a:hover {
    background-color: transparent;
}

.menu li .link-text {
    padding: 10px 20px;
    margin:0px;
    display: block;
    transition: background-color 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 1px;

}

.menu li .link-text.active-link {
    background: transparent;
    box-shadow:none;
}

.menu li .link-text:hover {
    box-shadow: none;
}

.menu li .text-translated {
    margin-top:5px;
    color: var(--text-color); 
    font-size: 0.5em;
    background-color: transparent;
}



/* Markdown Container Styles */
.row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left:10px;
    margin-right:10px;
    margin-bottom: 20px;
    position: relative;
}

.column {
    position: relative;
    text-align: center;
    width: 45%;
    padding: 20px;
}

.divider {
    width: 2px;
    height: 20em;
    margin-top:5em;
    background-color: var(--accent-color);
}

@media (max-width: 768px) {
    .row.few-row{
        flex-direction: column;
    }

    .few-row .divider {
        display: none; /* Hide the divider on mobile */
    }

    .few-row .column {
        width: 90%;
    }
}

@media (max-width: 968px) {
    .row.multi-row{
        flex-direction: column;
    }

    .multi-row .divider {
        display: none; /* Hide the divider on mobile */
    }

    .multi-row .column {
        width: 90%;
    }
}





